<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="true" default-dependency-check="none">
	<bean id="scriptServiceProxy" class="com.ohand.ohandFlow.script.ScriptServiceImpl" init-method="init">		 
	</bean>
</beans>
