<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohand.ohandUser.mapper.AttachFileMapper">
  <resultMap id="result" type="com.ohand.ohandUser.domain.AttachFileDomain">
      <result property="id" column="Id" />
      <result property="fileName" column="File_Name" />
      <result property="suffix" column="Suffix" />
      <result property="uploadNo" column="Upload_No" />
      <result property="fileUuid" column="File_Uuid" />
      <result property="filePath" column="File_Path" />
      <result property="fileVersion" column="File_Version" />
      <result property="uploader" column="Uploader" />
      <result property="uploaderId" column="Uploader_Id" />
      <result property="uploaderDate" column="Uploader_Date" />
      <result property="encryptType" column="Encrypt_Type" />
      <result property="passKey" column="Pass_Key" />
      <result property="beyondModule" column="Beyond_Module" />
      <result property="relatedId" column="Related_Id" />
      <result property="fileSize" column="File_Size" />
  </resultMap>
  <sql id="tableColumn">
  <![CDATA[
          Id
          ,File_Name
          ,Suffix
          ,Upload_No
          ,File_Uuid
          ,File_Path
          ,File_Version
          ,Uploader
          ,Uploader_Id
          ,Uploader_Date
          ,Encrypt_Type
          ,Pass_Key
          ,Beyond_Module
          ,Related_Id
          ,File_Size
  ]]>
  </sql>
  <sql id="dynamicCondition">  
			<if test="id != null"><![CDATA[  AND Id = #{id,jdbcType=VARCHAR} ]]> </if>
			<if test="fileName != null"><![CDATA[  AND File_Name = #{fileName,jdbcType=VARCHAR} ]]> </if>
			<if test="suffix != null"><![CDATA[  AND Suffix = #{suffix,jdbcType=VARCHAR} ]]> </if>
			<if test="uploadNo != null"><![CDATA[  AND Upload_No = #{uploadNo,jdbcType=VARCHAR} ]]> </if>
			<if test="fileUuid != null"><![CDATA[  AND File_Uuid = #{fileUuid,jdbcType=VARCHAR} ]]> </if>
			<if test="filePath != null"><![CDATA[  AND File_Path = #{filePath,jdbcType=VARCHAR} ]]> </if>
	        <if test="fileVersion != null"> <![CDATA[ AND File_Version = #{fileVersion,jdbcType=INTEGER}  	]]>	</if>
			<if test="uploader != null"><![CDATA[  AND Uploader = #{uploader,jdbcType=VARCHAR} ]]> </if>
	        <if test="uploaderId != null"> <![CDATA[ AND Uploader_Id = #{uploaderId,jdbcType=INTEGER}  	]]>	</if>
	    	<if test="uploaderDate != null"> <![CDATA[ AND Uploader_Date = #{uploaderDate,jdbcType=TIMESTAMP}  	]]>	</if>
	        <if test="encryptType != null"> <![CDATA[ AND Encrypt_Type = #{encryptType,jdbcType=INTEGER}  	]]>	</if>
			<if test="passKey != null"><![CDATA[  AND Pass_Key = #{passKey,jdbcType=VARCHAR} ]]> </if>
			<if test="beyondModule != null"><![CDATA[  AND Beyond_Module = #{beyondModule,jdbcType=VARCHAR} ]]> </if>
			<if test="relatedId != null"><![CDATA[  AND Related_Id = #{relatedId,jdbcType=VARCHAR} ]]> </if>
	        <if test="fileSize != null"> <![CDATA[ AND File_Size = #{fileSize,jdbcType=INTEGER}  	]]>	</if>
  </sql>
	<sql id="orderByFragment">
		<choose>
			 <when test="orderByField != null "> order by #{orderByField}  	#{AscOrDesc} 	</when>
			 <otherwise>   order by Id	desc  	</otherwise>
		</choose>
	</sql>
	<select id="getObjectVOById" parameterType="int" resultMap="result">
		SELECT
			<include refid="tableColumn"/>
		FROM
		pf_attachfile  
		WHERE 	 
			 Id=#{id,jdbcType=VARCHAR}
	</select>
	<select id="getObjectVOFileUuid" parameterType="int" resultMap="result">
		SELECT
			<include refid="tableColumn"/>
		FROM
		pf_attachfile  
		WHERE 	 
			 file_Uuid=#{fileUuid,jdbcType=VARCHAR}
	</select>	
 	<select id="getObjectVOList" parameterType="java.util.Map"
		resultMap="result">
		SELECT
			<include refid="tableColumn"/>
		FROM   pf_attachfile 
		WHERE 1=1
		<include refid="dynamicCondition"/>
	</select>
 	<select id="getObjectMapListPagination" parameterType="java.util.Map"
		resultType="hashmap">
		SELECT
			<include refid="tableColumn"/>
		FROM pf_attachfile   
		WHERE 1=1
		<include refid="dynamicCondition"/>
	</select>	
	<select id="getObjectMapListCount" parameterType="java.util.Map"
		resultType="hashmap">
		SELECT
			count(1) numb
		FROM pf_attachfile   
		WHERE 1=1
		<include refid="dynamicCondition"/>
	</select>
  <insert id="insertObject" parameterType="AttachFileDomain">
    insert into pf_attachfile
                   (   
				  Id
				  ,File_Name
				  ,Suffix
				  ,Upload_No
				  ,File_Uuid
				  ,File_Path
				  ,File_Version
				  ,Uploader
				  ,Uploader_Id
				  ,Uploader_Date
				  ,Encrypt_Type
				  ,Pass_Key
				  ,Beyond_Module
				  ,Related_Id
				  ,File_Size
                   )
            values (
				  #{id,jdbcType=VARCHAR}
				  ,#{fileName,jdbcType=VARCHAR}
				  ,#{suffix,jdbcType=VARCHAR}
				  ,#{uploadNo,jdbcType=VARCHAR}
				  ,#{fileUuid,jdbcType=VARCHAR}
				  ,#{filePath,jdbcType=VARCHAR}
				  ,#{fileVersion,jdbcType=INTEGER}
				  ,#{uploader,jdbcType=VARCHAR}
				  ,#{uploaderId,jdbcType=INTEGER}
				  ,#{uploaderDate,jdbcType=TIMESTAMP}
				  ,#{encryptType,jdbcType=INTEGER}
				  ,#{passKey,jdbcType=VARCHAR}
				  ,#{beyondModule,jdbcType=VARCHAR}
				  ,#{relatedId,jdbcType=VARCHAR}
				  ,#{fileSize,jdbcType=INTEGER}
                   )
  </insert>
  <update id="updateObject" parameterType="java.util.Map">
    update pf_attachfile 
                 set 
                  File_Size=#{fileSize,jdbcType=INTEGER}
 					<if test="fileName!=null"  >,<![CDATA[ File_Name=#{fileName,jdbcType=VARCHAR} ]]></if>
 					<if test="suffix!=null"  >,<![CDATA[ Suffix=#{suffix,jdbcType=VARCHAR} ]]></if>
 					<if test="uploadNo!=null"  >,<![CDATA[ Upload_No=#{uploadNo,jdbcType=VARCHAR} ]]></if>
 					<if test="fileUuid!=null"  >,<![CDATA[ File_Uuid=#{fileUuid,jdbcType=VARCHAR} ]]></if>
 					<if test="filePath!=null"  >,<![CDATA[ File_Path=#{filePath,jdbcType=VARCHAR} ]]></if>
 					<if test="fileVersion!=null"  >,<![CDATA[ File_Version=#{fileVersion,jdbcType=INTEGER} ]]></if>
 					<if test="uploader!=null"  >,<![CDATA[ Uploader=#{uploader,jdbcType=VARCHAR} ]]></if>
 					<if test="uploaderId!=null"  >,<![CDATA[ Uploader_Id=#{uploaderId,jdbcType=INTEGER} ]]></if>
 					<if test="uploaderDate!=null"  >,<![CDATA[ Uploader_Date=#{uploaderDate,jdbcType=TIMESTAMP} ]]></if>
 					<if test="encryptType!=null"  >,<![CDATA[ Encrypt_Type=#{encryptType,jdbcType=INTEGER} ]]></if>
 					<if test="passKey!=null"  >,<![CDATA[ Pass_Key=#{passKey,jdbcType=VARCHAR} ]]></if>
 					<if test="beyondModule!=null"  >,<![CDATA[ Beyond_Module=#{beyondModule,jdbcType=VARCHAR} ]]></if>
 					<if test="relatedId!=null"  >,<![CDATA[ Related_Id=#{relatedId,jdbcType=VARCHAR} ]]></if>
 					<if test="fileSize!=null"  >,<![CDATA[ File_Size=#{fileSize,jdbcType=INTEGER} ]]></if>
			 where Id=#{id,jdbcType=VARCHAR}
  </update>  
  <delete id="deleteObjectById" parameterType="int" >
    delete from pf_attachfile 
            where 
			 	Id=#{id,jdbcType=VARCHAR}
  </delete>    
  <delete id="deleteByMap" parameterType="java.util.Map">
      delete from pf_attachfile 
      <include refid="dynamicCondition" />
  </delete> 

</mapper>

