<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohand.ohandUser.mapper.RoleRResourceMapper">
	<resultMap id="result"
		type="com.ohand.ohandUser.domain.RoleRResourceDomain">
		<result property="id" column="Id" />
		<result property="roleId" column="role_id" />
		<result property="resourceId" column="resource_id" />
		<result property="roleName" column="role_name" />
		<result property="resourceName" column="resource_name" />
		<result property="resourceType" column="resource_Type" />
	</resultMap>
	<sql id="tableColumn"> 	Id,
							role_id,
							resource_id,
							role_name,
							resource_name,
							resource_Type 	
	</sql>
	<sql id="dynamicCondition"> 
		<if test="id != null"> AND id = #{id,jdbcType=INTEGER}  		</if>
		<if test="roleId != null"> AND role_Id = #{roleId,jdbcType=INTEGER}  		</if>
		<if test="resourceId != null"> AND resource_Id = #{resourceId,jdbcType=INTEGER}  		</if>
		<if test="roleName != null"> AND role_name like #{roleName , typeHandler=com.ohand.common.plugin.mybaits.LikePlusPercentTagCallback} </if>
		<if test="resourceName != null"> AND resource_Name like #{resourceName , typeHandler=com.ohand.common.plugin.mybaits.LikePlusPercentTagCallback} </if>
		<if test="resourceType != null"> AND resource_Type = #{resourceType,jdbcType=INTEGER}  		</if>
		<if test="roleIds != null"> 
			AND role_id in 
 			 <foreach collection="roleIds" item="status" index="index"
	             open="(" close=")" separator=",">
	             #{status}
         	</foreach>
		</if>		
	</sql>	
	<sql id="orderByFragment">
		<choose>
			 <when test="orderByField != null "> order by #{orderByField}  	#{AscOrDesc} 	</when>
			 <otherwise>   order by Id	desc  	</otherwise>
		</choose>
	</sql>
	<select id="getObjectVOById" parameterType="int" resultMap="result">
		SELECT
			<include refid="tableColumn"/>
		FROM
		pf_role_r_resource 
		WHERE ID= #{id,jdbcType=INTEGER}
	</select>
	<select id="getObjectMapList" parameterType="java.util.Map"
		resultType="hashmap">
		SELECT
			*
		FROM pf_role_r_resource 
		WHERE 1=1
		<include refid="dynamicCondition"/>
		<include refid="orderByFragment"/>
	 </select>
	<select id="getObjectVOList" parameterType="java.util.Map"
		resultMap="result">
		SELECT
			*
		FROM pf_role_r_resource 
		WHERE 1=1
		<include refid="dynamicCondition"/>
		<include refid="orderByFragment"/>
	</select>	
	<select id="getObjectMapListPagination" parameterType="java.util.Map"
		resultType="hashmap">
		SELECT
			<include refid="tableColumn"/>
		FROM pf_role_r_resource 
		WHERE 1=1 
		<include refid="dynamicCondition"/>
		<include refid="orderByFragment"/>
	</select>	
	<select id="getObjectMapListCount" parameterType="java.util.Map"
		resultType="hashmap">
		SELECT
		count(1) numb
		FROM pf_role_r_resource 
		WHERE 1=1
		<include refid="dynamicCondition"/>
	</select>
	
	<select id="getObjectVOListTreePagination" parameterType="java.util.Map"
		resultMap="result">
		SELECT
			*
		FROM pf_role_r_resource 
		WHERE 1=1
		<include refid="dynamicCondition"/>
		<include refid="orderByFragment"/>
	</select>
	<select id="getObjectVOListTreeCount" parameterType="java.util.Map"
		resultType="hashmap">
		SELECT
		count(1) numb
		FROM pf_role_r_resource 
		WHERE 1=1
		<include refid="dynamicCondition"/>
		<include refid="orderByFragment"/>
	</select>
	<insert id="insertObject" parameterType="ResourceDomain">
		INSERT INTO
		pf_role_r_resource
		(	  ID            ,
			  ROLE_ID      ,
			  RESOURCE_ID          ,
			  ROLE_NAME     ,
			  RESOURCE_NAME ,
			  RESOURCE_TYPE  
		)
		VALUES
		(	#{id}, 
			#{roleId ,  jdbcType=INTEGER },
			#{resourceId ,  jdbcType=INTEGER },
			#{roleName ,jdbcType=VARCHAR},
			#{resourceName,jdbcType=VARCHAR},
			#{resourceType,jdbcType=INTEGER}
		)
	</insert>
	<update id="updateObject" parameterType="ResourceDomain">
		UPDATE pf_role_r_resource  SET id=id 
			<if test="roleId != null"> , role_Id = #{roleId,jdbcType=INTEGER}  	</if>
			<if test="resourceId != null"> , resource_Id = #{resourceId,jdbcType=INTEGER}  	</if>
			<if test="roleName != null"> , role_Name = #{roleName,jdbcType=VARCHAR}  	</if>
			<if test="resourceName != null"> , resource_Name = #{resourceName,jdbcType=VARCHAR}  	</if>
			<if test="resourceType != null"> , resource_Type = #{resourceType,jdbcType=INTEGER}  	</if>
	    WHERE Id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete  id="deleteObjectById" parameterType="int" >
		DELETE FROM pf_role_r_resource   WHERE ID= #{id,jdbcType=INTEGER}
	</delete>

</mapper>