.uibutton {
	OVERFLOW: visible; CURSOR: hand; FONT-SIZE: 11px; BORDER-TOP: #69a44d 1px solid; BORDER-RIGHT: #69a44d 1px solid; BORDER-BOTTOM: #69a44d 1px solid; POSITION: relative; TEXT-TRANSFORM: capitalize; BACKGROUND-POSITION: 0px -1px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-BOTTOM: 6px; TEXT-ALIGN: center; PADDING-TOP: 5px; OUTLINE-STYLE: none; PADDING-LEFT: 12px; TEXT-DECORATION: none; MARGIN: -1px 3px 10px 0px; BORDER-LEFT: #69a44d 1px solid; Z-INDEX: 1; DISPLAY: inline-block; PADDING-RIGHT: 12px; BACKGROUND-COLOR: #9bc652; text-shadow: 0 1px 0 #000000; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); -webkit-transition: all .2s ease-out; -moz-transition: all.2s ease-out; -o-transition: all .2s ease-out; transition: all.2s ease-out
}
.uibutton:hover {
	BACKGROUND-IMAGE: url(../images/ui-lgreen.jpg); BACKGROUND-POSITION: 0px 59px; COLOR: #ffffff; text-shadow: 0 1px 0 #000000; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px
}
.uibutton:focus {
	BACKGROUND-IMAGE: url(../images/ui-lgreen.jpg); BACKGROUND-POSITION: 0px 59px; COLOR: #ffffff; text-shadow: 0 1px 0 #000000; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px
}
.uibutton:active {
	BACKGROUND-IMAGE: url(../images/ui-lgreen.jpg); BACKGROUND-POSITION: 0px 59px; COLOR: #ffffff; text-shadow: 0 1px 0 #000000; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px
}
.uibutton:active {
	CURSOR: pointer; COLOR: #ffffff; FILTER: none; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611
}
.uibutton:unknown {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
.icon.uibutton:before {
	HEIGHT: 12px; BACKGROUND: url(../images/fb-icons.png) no-repeat 99px 99px; POSITION: relative; FLOAT: left; CONTENT: ""; MARGIN: 0px 5px 0px 0px; TOP: 2px; WIDTH: 14px
}
.edit.uibutton:before {
	BACKGROUND-POSITION: 0px -1px
}
.normal.uibutton {
	BORDER-TOP: #aaaaaa 1px solid; BORDER-RIGHT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; COLOR: #333; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00CC00', EndColorStr='#00CC00'); BORDER-LEFT: #aaaaaa 1px solid; BACKGROUND-COLOR: #f4f4f4; text-shadow: none; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2
}
.normal.uibutton:hover {
	COLOR: #666; BACKGROUND-COLOR: #999; text-shadow: none; -moz-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee; -webkit-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee; box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee
}
.normal.uibutton:active {
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc
}
.add.uibutton:before {
	BACKGROUND-POSITION: -14px -1px
}
.secure.uibutton:before {
	BACKGROUND-POSITION: -28px 0px; TOP: 0px
}
.prev.uibutton:before {
	BACKGROUND-POSITION: -38px -1px
}
.next.uibutton:before {
	BACKGROUND-POSITION: -50px 0px; FLOAT: right; MARGIN: -1px -0.25em 0px 0.5em
}
.forward.uibutton:before {
	BACKGROUND-POSITION: -61px 0px; MARGIN-TOP: -1px
}
.answer.uibutton:before {
	BACKGROUND-POSITION: -78px 0px; MARGIN-TOP: -2px
}
.large.uibutton {
	FONT-SIZE: 13px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 25px; PADDING-RIGHT: 25px
}
.confirm.uibutton {
	BORDER-TOP-COLOR: #73b4ce; BACKGROUND-IMAGE: none; COLOR: #666666; BORDER-BOTTOM-COLOR: #73b4ce; BORDER-RIGHT-COLOR: #73b4ce; BACKGROUND-COLOR: #c2e3f0; BORDER-LEFT-COLOR: #73b4ce; text-shadow: 0 1px 0 #ffffff; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)
}
.confirm.uibutton:hover {
	BORDER-TOP-COLOR: #73b4ce; COLOR: #333333; BORDER-BOTTOM-COLOR: #73b4ce; BORDER-RIGHT-COLOR: #73b4ce; BACKGROUND-COLOR: #a9daed; BORDER-LEFT-COLOR: #73b4ce; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px
}
.confirm.uibutton:focus {
	BORDER-TOP-COLOR: #73b4ce; COLOR: #333333; BORDER-BOTTOM-COLOR: #73b4ce; BORDER-RIGHT-COLOR: #73b4ce; BACKGROUND-COLOR: #a9daed; BORDER-LEFT-COLOR: #73b4ce; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px
}
.confirm.uibutton:active {
	BORDER-TOP-COLOR: #73b4ce; COLOR: #333333; BORDER-BOTTOM-COLOR: #73b4ce; BORDER-RIGHT-COLOR: #73b4ce; BACKGROUND-COLOR: #a9daed; BORDER-LEFT-COLOR: #73b4ce; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px
}
.confirm.uibutton:active {
	BORDER-TOP-COLOR: #73b4ce; COLOR: #666666; BORDER-BOTTOM-COLOR: #73b4ce; BORDER-RIGHT-COLOR: #73b4ce; BACKGROUND-COLOR: #a9daed; BORDER-LEFT-COLOR: #73b4ce; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de
}
.special.uibutton {
	BORDER-TOP-COLOR: #a93a25; COLOR: #fff; BORDER-BOTTOM-COLOR: #a93a25; BORDER-RIGHT-COLOR: #a93a25; BACKGROUND-COLOR: #d74543; BORDER-LEFT-COLOR: #a93a25; text-shadow: 0 1px 0 #000000
}
.special.uibutton:hover {
	BACKGROUND-IMAGE: url(../images/ui-red.jpg); BACKGROUND-POSITION: 0px 59px; COLOR: #fff; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px
}
.special.uibutton:active {
	BACKGROUND-IMAGE: url(../images/ui-red.jpg); BACKGROUND-POSITION: 0px 59px; COLOR: #fff; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px
}
.special.uibutton:active {
	BACKGROUND-IMAGE: url(../images/ui-red.jpg); BACKGROUND-POSITION: 0px 59px; COLOR: #efefef; FILTER: none; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35
}
.disable.uibutton {
	CURSOR: default; BORDER-TOP-COLOR: #c8c8c8; BACKGROUND: #f2f2f2; COLOR: #b8b8b8; BORDER-BOTTOM-COLOR: #c8c8c8; Z-INDEX: 0; BORDER-RIGHT-COLOR: #c8c8c8; BORDER-LEFT-COLOR: #c8c8c8; text-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none
}
.disable.uibutton:hover {
	BORDER-TOP-COLOR: #c8c8c8; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #b8b8b8; BORDER-BOTTOM-COLOR: #c8c8c8; BORDER-RIGHT-COLOR: #c8c8c8; BORDER-LEFT-COLOR: #c8c8c8; text-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none
}
.icon.disable.uibutton:before {
	opacity: 0.5
}
.icon.disable.uibutton:after {
	opacity: 0.5
}
.uibutton-group {
	LIST-STYLE-TYPE: none; ZOOM: 1; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; DISPLAY: inline; PADDING-RIGHT: 0px
}
.uibutton + .uibutton {
	
}
.uibutton + .uibutton-group {
	
}
.uibutton-group + .uibutton {
	
}
.uibutton-group + .uibutton-group {
	
}
.uibutton-group LI {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.uibutton-group LI.end {
	MARGIN-LEFT: 0px
}
.uibutton-group .uibutton {
	FLOAT: left; MARGIN-LEFT: -4px
}
.uibutton-group .uibutton:hover {
	
}
.uibutton-group .uibutton:focus {
	
}
.uibutton-group .uibutton:active {
	
}
.uibutton-group > :first-child.uibutton {
	MARGIN-LEFT: 0px
}
.uibutton-group LI:first-child .uibutton {
	MARGIN-LEFT: 0px
}
.uibutton-toolbar {
	BORDER-TOP: #ccc 1px solid; BACKGROUND: #f2f2f2; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px
}
.uibutton-toolbar .uibutton {
	VERTICAL-ALIGN: bottom
}
.uibutton-toolbar .uibutton-group {
	VERTICAL-ALIGN: bottom
}
