SPAN.ico {
	MARGIN-BOTTOM: -3px; HEIGHT: 18px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; DISPLAY: inline-block; WIDTH: 18px; MARGIN-RIGHT: 5px
}
SPAN SPAN.ico {
	HEIGHT: 18px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; MARGIN: -7px 0px 0px -7px; DISPLAY: inline-block; WIDTH: 18px
}
A SPAN.ico {
	MARGIN-BOTTOM: -3px; HEIGHT: 18px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; DISPLAY: inline-block; WIDTH: 18px; MARGIN-RIGHT: 12px
}
.abacus.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/abacus.png)
}
.access_point.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/access_point.png)
}
.add.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/add.png)
}
.administrator.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/administrator.png)
}
.alarm.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/alarm.png)
}
.arrow_bidirectional.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/arrow_bidirectional.png)
}
.arrow_down2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/arrow_down2.png)
}
.arrow_left2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/arrow_left2.png)
}
.arrow_right2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/arrow_right2.png)
}
.arrow_up2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/arrow_up2.png)
}
.attachment.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/attachment.png)
}
.audio_knob.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/audio_knob.png)
}
.barcode.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/barcode.png)
}
.battery_empty.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/battery_empty.png)
}
.battery_full.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/battery_full.png)
}
.battery_half.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/battery_half.png)
}
.bell.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/bell.png)
}
.bill.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/bill.png)
}
.binoculars.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/binoculars.png)
}
.bold.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/bold.png)
}
.book.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/book.png)
}
.bookmark.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/bookmark.png)
}
.briefcase.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/briefcase.png)
}
.brightness.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/brightness.png)
}
.broken_link.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/broken_link.png)
}
.brush.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/brush.png)
}
.burn_blu-ray.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/burn_blu-ray.png)
}
.burn_blu-ray2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/burn_blu-ray2.png)
}
.burn_dvd.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/burn_dvd.png)
}
.burn_dvd2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/burn_dvd2.png)
}
.cabinet.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/cabinet.png)
}
.calculator.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/calculator.png)
}
.calendar.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/calendar.png)
}
.camera.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/camera.png)
}
.cancel.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/cancel.png)
}
.card_clubs.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/card_clubs.png)
}
.card_diamonds.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/card_diamonds.png)
}
.card_hearts.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/card_hearts.png)
}
.card_spades.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/card_spades.png)
}
UNKNOWN {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/certificate-%282%29.png)
}
.certificate.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/certificate.png)
}
.chat-exclamation.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/chat-exclamation.png)
}
.checkmark.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/checkmark.png)
}
.checkmark2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/checkmark2.png)
}
.clip.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/clip.png)
}
.clipboard.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/clipboard.png)
}
.clock.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/clock.png)
}
.close.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/close.png)
}
.cloud.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/cloud.png)
}
.cloud2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/cloud2.png)
}
.coin.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/coin.png)
}
.compress.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/compress.png)
}
.connect.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/connect.png)
}
.contrast.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/contrast.png)
}
.copy.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/copy.png)
}
.cross.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/cross.png)
}
.cutter.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/cutter.png)
}
.delete.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/delete.png)
}
.dial.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/dial.png)
}
.diary.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/diary.png)
}
.dimensions.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/dimensions.png)
}
.directional_down.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/directional_down.png)
}
.directional_left.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/directional_left.png)
}
.directional_right.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/directional_right.png)
}
.directional_up.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/directional_up.png)
}
.disconnect.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/disconnect.png)
}
.diskette.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/diskette.png)
}
.document.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/document.png)
}
.door.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/door.png)
}
.download2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/download2.png)
}
.dropper.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/dropper.png)
}
.earphones.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/earphones.png)
}
.effects.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/effects.png)
}
.eject.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/eject.png)
}
.emoticon_angry.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/emoticon_angry.png)
}
.emoticon_confused.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/emoticon_confused.png)
}
.emoticon_grin.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/emoticon_grin.png)
}
.emoticon_in_love.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/emoticon_in_love.png)
}
.emoticon_sad.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/emoticon_sad.png)
}
.emoticon_sleeping.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/emoticon_sleeping.png)
}
.emoticon_smile.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/emoticon_smile.png)
}
.encrypt.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/encrypt.png)
}
.eraser.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/eraser.png)
}
.eye.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/eye.png)
}
.eye_closed.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/eye_closed.png)
}
.fast_forward.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/fast_forward.png)
}
.file.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/file.png)
}
.fill.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/fill.png)
}
.fingerprint.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/fingerprint.png)
}
.firewall.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/firewall.png)
}
.first.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/first.png)
}
.folder.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/folder.png)
}
.font.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/font.png)
}
.font_size.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/font_size.png)
}
.game_control.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/game_control.png)
}
.gear.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/gear.png)
}
.group.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/group.png)
}
.hammer.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/hammer.png)
}
.hand_point.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/hand_point.png)
}
.hand_thumbsdown.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/hand_thumbsdown.png)
}
.hand_thumbsup.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/hand_thumbsup.png)
}
.hard_disk.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/hard_disk.png)
}
.headset.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/headset.png)
}
.heart.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/heart.png)
}
.help.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/help.png)
}
.help2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/help2.png)
}
.history.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/history.png)
}
.home.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/home.png)
}
.hourglass.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/hourglass.png)
}
.hourglass2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/hourglass2.png)
}
.id.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/id.png)
}
.info.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/info.png)
}
.info2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/info2.png)
}
.italic.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/italic.png)
}
.item.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/item.png)
}
.key.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/key.png)
}
.last.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/last.png)
}
.lightbulb.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/lightbulb.png)
}
.link.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/link.png)
}
.list.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/list.png)
}
.location.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/location.png)
}
.lock.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/lock.png)
}
.lock_open.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/lock_open.png)
}
.login.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/login.png)
}
.mail.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/mail.png)
}
.mail_open.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/mail_open.png)
}
.messenger.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/messenger.png)
}
.microhpone.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/microhpone.png)
}
.microphone.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/microphone.png)
}
.money_bag.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/money_bag.png)
}
.monitor.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/monitor.png)
}
.moon.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/moon.png)
}
.music.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/music.png)
}
.music_folder.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/music_folder.png)
}
.music_library.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/music_library.png)
}
.next.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/next.png)
}
.notepad.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/notepad.png)
}
.paragraph_align_left.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/paragraph_align_left.png)
}
.paragraph_align_right.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/paragraph_align_right.png)
}
.paragraph_justify.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/paragraph_justify.png)
}
.password.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/password.png)
}
.paste.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/paste.png)
}
.pause.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/pause.png)
}
.pen.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/pen.png)
}
.pencil.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/pencil.png)
}
.phone.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/phone.png)
}
.photo_album.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/photo_album.png)
}
.pictures_folder.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/pictures_folder.png)
}
.play.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/play.png)
}
.point.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/point.png)
}
.power.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/power.png)
}
.previous.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/previous.png)
}
.print.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/print.png)
}
.pyramid.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/pyramid.png)
}
.random.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/random.png)
}
.record.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/record.png)
}
.redo.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/redo.png)
}
.reload.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/reload.png)
}
.repeat.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/repeat.png)
}
.resize2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/resize2.png)
}
.rewind.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/rewind.png)
}
.rotate.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/rotate.png)
}
.round.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/round.png)
}
.ruler_square.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/ruler_square.png)
}
.satellite.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/satellite.png)
}
.scissors.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/scissors.png)
}
.screwdriver.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/screwdriver.png)
}
.security.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/security.png)
}
.shopping_basket.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/shopping_basket.png)
}
.software24.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/software24.png)
}
.spam.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/spam.png)
}
.speaker.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/speaker.png)
}
.speaker2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/speaker2.png)
}
.sphere.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/sphere.png)
}
.spreadsheet.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/spreadsheet.png)
}
.square.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/square.png)
}
.star.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/star.png)
}
.stats_bars.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/stats_bars.png)
}
.stats_lines.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/stats_lines.png)
}
.stats_pie.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/stats_pie.png)
}
.stop.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/stop.png)
}
.strike_through.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/strike_through.png)
}
.sun.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/sun.png)
}
.target.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/target.png)
}
.thunder.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/thunder.png)
}
.trash_can.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/trash_can.png)
}
.underlined.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/underlined.png)
}
.undo.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/undo.png)
}
.upload2.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/upload2.png)
}
.usb.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/usb.png)
}
.user.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/user.png)
}
.user_woman.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/user_woman.png)
}
.volume_control.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/volume_control.png)
}
.webcam.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/webcam.png)
}
.window.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/window.png)
}
.wizard.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/wizard.png)
}
.world.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/world.png)
}
.zoom.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/zoom.png)
}
.zoom_in.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/zoom_in.png)
}
.zoom_out.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_18/zoom_out.png)
}
.abacus.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/abacus.png)
}
.access_point.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/access_point.png)
}
.add.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/add.png)
}
.administrator.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/administrator.png)
}
.alarm.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/alarm.png)
}
.arrow_bidirectional.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/arrow_bidirectional.png)
}
.arrow_down2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/arrow_down2.png)
}
.arrow_left2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/arrow_left2.png)
}
.arrow_right2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/arrow_right2.png)
}
.arrow_up2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/arrow_up2.png)
}
.attachment.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/attachment.png)
}
.audio_knob.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/audio_knob.png)
}
.barcode.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/barcode.png)
}
.battery_empty.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/battery_empty.png)
}
.battery_full.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/battery_full.png)
}
.battery_half.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/battery_half.png)
}
.bell.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/bell.png)
}
.bill.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/bill.png)
}
.binoculars.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/binoculars.png)
}
.bold.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/bold.png)
}
.book.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/book.png)
}
.bookmark.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/bookmark.png)
}
.briefcase.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/briefcase.png)
}
.brightness.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/brightness.png)
}
.broken_link.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/broken_link.png)
}
.brush.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/brush.png)
}
.burn_blu-ray.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/burn_blu-ray.png)
}
.burn_blu-ray2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/burn_blu-ray2.png)
}
.burn_dvd.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/burn_dvd.png)
}
.burn_dvd2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/burn_dvd2.png)
}
.cabinet.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/cabinet.png)
}
.calculator.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/calculator.png)
}
.calendar.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/calendar.png)
}
.camera.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/camera.png)
}
.cancel.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/cancel.png)
}
.card_clubs.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/card_clubs.png)
}
.card_diamonds.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/card_diamonds.png)
}
.card_hearts.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/card_hearts.png)
}
.card_spades.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/card_spades.png)
}
UNKNOWN {
	BACKGROUND-IMAGE: url(../images/icon/color_18/certificate-%282%29.png)
}
.certificate.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/certificate.png)
}
.chat-exclamation.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/chat-exclamation.png)
}
.checkmark.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/checkmark.png)
}
.checkmark2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/checkmark2.png)
}
.clip.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/clip.png)
}
.clipboard.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/clipboard.png)
}
.clock.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/clock.png)
}
.close.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/close.png)
}
.cloud.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/cloud.png)
}
.cloud2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/cloud2.png)
}
.coin.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/coin.png)
}
.compress.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/compress.png)
}
.connect.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/connect.png)
}
.contrast.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/contrast.png)
}
.copy.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/copy.png)
}
.cross.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/cross.png)
}
.cutter.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/cutter.png)
}
.delete.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/delete.png)
}
.dial.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/dial.png)
}
.diary.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/diary.png)
}
.dimensions.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/dimensions.png)
}
.directional_down.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/directional_down.png)
}
.directional_left.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/directional_left.png)
}
.directional_right.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/directional_right.png)
}
.directional_up.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/directional_up.png)
}
.disconnect.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/disconnect.png)
}
.diskette.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/diskette.png)
}
.document.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/document.png)
}
.door.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/door.png)
}
.download2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/download2.png)
}
.dropper.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/dropper.png)
}
.earphones.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/earphones.png)
}
.effects.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/effects.png)
}
.eject.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/eject.png)
}
.emoticon_angry.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/emoticon_angry.png)
}
.emoticon_confused.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/emoticon_confused.png)
}
.emoticon_grin.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/emoticon_grin.png)
}
.emoticon_in_love.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/emoticon_in_love.png)
}
.emoticon_sad.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/emoticon_sad.png)
}
.emoticon_sleeping.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/emoticon_sleeping.png)
}
.emoticon_smile.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/emoticon_smile.png)
}
.encrypt.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/encrypt.png)
}
.eraser.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/eraser.png)
}
.eye.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/eye.png)
}
.eye_closed.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/eye_closed.png)
}
.fast_forward.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/fast_forward.png)
}
.file.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/file.png)
}
.fill.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/fill.png)
}
.fingerprint.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/fingerprint.png)
}
.firewall.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/firewall.png)
}
.first.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/first.png)
}
.folder.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/folder.png)
}
.font.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/font.png)
}
.font_size.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/font_size.png)
}
.game_control.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/game_control.png)
}
.gear.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/gear.png)
}
.group.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/group.png)
}
.hammer.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/hammer.png)
}
.hand_point.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/hand_point.png)
}
.hand_thumbsdown.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/hand_thumbsdown.png)
}
.hand_thumbsup.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/hand_thumbsup.png)
}
.hard_disk.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/hard_disk.png)
}
.headset.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/headset.png)
}
.heart.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/heart.png)
}
.help.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/help.png)
}
.help2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/help2.png)
}
.history.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/history.png)
}
.home.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/home.png)
}
.hourglass.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/hourglass.png)
}
.hourglass2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/hourglass2.png)
}
.id.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/id.png)
}
.info.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/info.png)
}
.info2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/info2.png)
}
.italic.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/italic.png)
}
.item.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/item.png)
}
.key.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/key.png)
}
.last.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/last.png)
}
.lightbulb.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/lightbulb.png)
}
.link.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/link.png)
}
.list.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/list.png)
}
.location.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/location.png)
}
.lock.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/lock.png)
}
.lock_open.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/lock_open.png)
}
.login.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/login.png)
}
.mail.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/mail.png)
}
.mail_open.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/mail_open.png)
}
.messenger.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/messenger.png)
}
.microhpone.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/microhpone.png)
}
.microphone.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/microphone.png)
}
.money_bag.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/money_bag.png)
}
.monitor.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/monitor.png)
}
.moon.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/moon.png)
}
.music.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/music.png)
}
.music_folder.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/music_folder.png)
}
.music_library.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/music_library.png)
}
.next.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/next.png)
}
.notepad.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/notepad.png)
}
.paragraph_align_left.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/paragraph_align_left.png)
}
.paragraph_align_right.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/paragraph_align_right.png)
}
.paragraph_justify.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/paragraph_justify.png)
}
.password.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/password.png)
}
.paste.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/paste.png)
}
.pause.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/pause.png)
}
.pen.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/pen.png)
}
.pencil.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/pencil.png)
}
.phone.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/phone.png)
}
.photo_album.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/photo_album.png)
}
.pictures_folder.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/pictures_folder.png)
}
.play.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/play.png)
}
.point.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/point.png)
}
.power.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/power.png)
}
.previous.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/previous.png)
}
.print.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/print.png)
}
.pyramid.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/pyramid.png)
}
.random.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/random.png)
}
.record.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/record.png)
}
.redo.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/redo.png)
}
.reload.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/reload.png)
}
.repeat.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/repeat.png)
}
.resize2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/resize2.png)
}
.rewind.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/rewind.png)
}
.rotate.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/rotate.png)
}
.round.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/round.png)
}
.ruler_square.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/ruler_square.png)
}
.satellite.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/satellite.png)
}
.scissors.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/scissors.png)
}
.screwdriver.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/screwdriver.png)
}
.security.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/security.png)
}
.shopping_basket.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/shopping_basket.png)
}
.software24.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/software24.png)
}
.spam.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/spam.png)
}
.speaker.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/speaker.png)
}
.speaker2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/speaker2.png)
}
.sphere.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/sphere.png)
}
.spreadsheet.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/spreadsheet.png)
}
.square.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/square.png)
}
.star.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/star.png)
}
.stats_bars.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/stats_bars.png)
}
.stats_lines.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/stats_lines.png)
}
.stats_pie.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/stats_pie.png)
}
.stop.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/stop.png)
}
.strike_through.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/strike_through.png)
}
.sun.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/sun.png)
}
.target.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/target.png)
}
.thunder.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/thunder.png)
}
.trash_can.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/trash_can.png)
}
.underlined.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/underlined.png)
}
.undo.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/undo.png)
}
.upload2.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/upload2.png)
}
.usb.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/usb.png)
}
.user.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/user.png)
}
.user_woman.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/user_woman.png)
}
.volume_control.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/volume_control.png)
}
.webcam.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/webcam.png)
}
.window.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/window.png)
}
.wizard.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/wizard.png)
}
.world.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/world.png)
}
.zoom.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/zoom.png)
}
.zoom_in.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/zoom_in.png)
}
.zoom_out.color.ico {
	BACKGROUND-IMAGE: url(../images/icon/color_18/zoom_out.png)
}
.abacus.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/abacus.png)
}
.calendar.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/calendar.png)
}
.file.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/file.png)
}
.firewall.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/firewall.png)
}
.home.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/home.png)
}
.location.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/location.png)
}
.paragraph_align_left.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/paragraph_align_left.png)
}
.pictures_folder.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/pictures_folder.png)
}
.satellite.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/satellite.png)
}
.spreadsheet.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/spreadsheet.png)
}
.stats_lines.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/stats_lines.png)
}
.window.shadow.gray.ico {
	BACKGROUND-IMAGE: url(../images/icon/gray_shadow18/window.png)
}
